<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Smart Position Control</h1>
  <p class="lead">
    Provide optimal position control using Q-Learning agent.
  </p>
  <h3>System state : <b>{{state}}</b></h3>
  <p class="lead">
    Available actions :
    <div ng-repeat="action in availableActions">
      <a  href="" class="btn btn-lg btn-success" ng-click="executeAction(action)">{{action}}</a>
  </div> 
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p> -->
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>© {{year}} Nicolas Panel</p>
</div>
