<!-- <div ng-include="'partials/navbar'"></div> -->

<div class="jumbotron">
  <h1>Smart Position Control</h1>
  <p class="lead">
    Provide optimal position control using Q-Learning agent.
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p> -->
</div>
<div class="panel panel-default">
  <div class="panel-heading">System state : <b>{{state}}</b></div>
  <table class="table">
    <tr  ng-repeat="action in availableActions"> 
      <td>
        <a href="" ng-disabled="isLoading" class="btn btn-sm  btn-{{action.type}}" ng-click="executeAction(action.name)">{{action.name | capitalize}}</a>
      </td> 
      <td>
        <span>{{action.description}}</span>
      </td>
    </tr>
  </table>
</div>

<div class="footer">
  <p>© {{year}} Nicolas Panel</p>
</div>
