<!-- <div ng-include="'partials/navbar'"></div> -->

<div class="jumbotron">
  <h1>Smart Position Control</h1>
  <p class="lead">
    Provide optimal position control using Q-Learning agent.
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p> -->
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6"><span>System state : <b>{{model.state}}</b></span> </div> 
      <div class="col-xs-6"><span class="pull-right">pos : {{model.position}}mm</span></div> 
    </div>
  </div>
  <table class="table">
    <tr  ng-repeat="action in model.availableActions"> 
      <td>
        <a href="" ng-disabled="model.isLoading" class="btn btn-sm  btn-{{action.type}}" ng-click="executeAction(action.name)">{{action.name | capitalize}}</a>
      </td> 
      <td>
        <span>{{action.description}}</span>
      </td>
    </tr>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">Position tracking</div>
  </div>
  <nvd3-line-chart
        data="model.exampleData"
        tooltips="true"
        height="300"
        interactive="true"
        showXAxis="true"
        showYAxis="true">
    </nvd3-line-chart>
</div>

<div class="footer">
  <p>© {{model.year}} Nicolas Panel</p>
</div>
